* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  box-sizing: border-box;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

/* fade-transform 页面切换 */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
// iconFont
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

//labelFont
.labelContent{
  padding-left: 20px;
  background-image:url('../imgs/menu-active.png');
  background-repeat: no-repeat;
  background-size: 5px 20px;
  background-position: 10px center;
  text-align: left;
  height: 40px;
  line-height: 40px;
  font-size: 1.2em;
  font-weight: bold
}

// u-form el-form
.el-form.u-form{
  .el-form-item{
    .el-form-item__content{
      text-align: left;
    }
  }
}
.el-form{
  .el-input{
    min-width: 150px;
    max-width: 200px;
    .el-input__inner{
      color: #606266;
      background-color: rgb(238, 243, 255);
      border: 1px solid #417df5;
    }
  }
}
.el-pagination{
  text-align: right;
}

.searchBox{
  padding: 20px 10px 10px 10px;
  border-bottom: 10px solid #eee;
  display: flex;
  .formBox{
    flex:auto;
    .el-form{
      text-align: left;
      .el-form-item{
        margin-bottom: 10px !important
      }
    }
  }
  .btnBox{
    text-align: left;
    flex:auto;
    padding: 0 0px;
    .el-button{
      margin-left: 5px;
      margin-bottom: 5px;
    }
  }
}

//表单input宽度unitWidth
.unitWidth.el-form{
  text-align: left;
  .el-form-item{
    margin-bottom: 10px;
    .el-form-item__content{
      .el-select,.el-date-editor,.el-input,.el-input-number{
        width: 180px;
      }
    }
  }
}

//el-table
.tableBox{
  padding: 10px;
  .el-table{
    border: 1px solid #e4e5e6;
    border-right:none;
  }
}
.el-table{
  width: 100%;
  .el-table__header tr th{
    background-color: #eef3ff;
  }
  th.is-leaf,td{
    border-bottom: none;
    border-right: 1px solid #e4e5e6
  }
  .editBtn{
    margin: 0 5px;
    cursor: pointer;
    font-size: 1.7em;
    color: rgb(54, 196, 102);
  }
  .delBtn{
    margin: 0 5px;
    cursor: pointer;
    font-size: 1.4em;
    color: rgb(247, 75, 75);
  }
}
.el-table--striped .el-table__body tr.el-table__row--striped td{
  background-color: rgb(248, 250, 252);
}
.el-table.center tr{
  th .cell{
    text-align: center;
  }
  td .cell{
    text-align: center;
  }
}
.el-checkbox__inner{
  border: 1px solid #afb0b1;
  width: 18px;
  height: 18px;
}
.el-checkbox__inner::after{
  border: 2px solid #FFF;
  border-left: 0;
  border-top: 0;
  height: 10px;
  left: 6px;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
  top: 5px;
  height: 6px;
}

// 菜单
.u-menu {
  height: 100%;
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
  }
  .el-menu {
    .el-menu-item {
      text-align: left;
      border-bottom: 1px solid #c4c4c4;
    }
    .el-menu-item:hover {
      i {
        color: #417df5;
      }
      font-weight: bold;
      color: #417df5;
      background-color: rgba(0, 0, 0, 0);
    }
    .el-menu-item.is-active {
      background-color: #00000000;
      font-weight: bold;
      color: #417df5;
      background-size: auto 80%;
      background-repeat: no-repeat;
      background-position: 0 center;
      background-image: url('../imgs/menu-active.png');
    }
    .el-submenu {
      border-bottom: 1px solid #c4c4c4;
      text-align: left;
      .el-submenu__title {
        .el-submenu__icon-arrow {
          transform: rotateZ(-90deg);
          -webkit-transform: rotateZ(-90deg);
          -moz-transform: rotateZ(-90deg);
          -ms-transform: rotateZ(-90deg);
          -o-transform: rotateZ(-90deg);
          font-size: 20px;
          color: rgb(99, 99, 99);
        }
      }
      .el-submenu__title:hover {
        i {
          color: #fff;
        }
        color: #fff;
        background-color: #417df5;
      }
      .el-menu-item {
        border: none;
        height: 40px;
        line-height: 40px;
        padding-left: 50px !important;
      }
    }
    .el-submenu.is-opened {
      .el-submenu__title .el-submenu__icon-arrow {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
      }
    }
    .el-submenu.is-active {
      .el-submenu__title {
        color: #fff;
        background-color: #417df5;
        i {
          color: #fff;
        }
      }
    }
  }
  .el-menu--collapse.el-menu {
    .el-submenu__title{
      span,.el-submenu__icon-arrow{
        display: none;

      }
    }
  }
}

// layout
.el-container {
  width: 100%;
  height: 100%;
  .el-header {
    .logoInfo{
      float: left;
      line-height: 80px;
      color: white;
      span{
        font-weight: bold;
        margin-left: 10px;
        font-size: 1.2em;
      }
      // height: ;
    }
    .userInfoBox {
      height: 100%;
      float: right;
      > div {
        float: left;
        width: auto;
        height: 100%;
        line-height: 80px;
        overflow: hidden;
        user-select: none;
        margin: 0 8px;
        i {
          margin: 0 5px;
        }
        span {
        }
      }
    }
  }
  .el-container {
    overflow: hidden;
    .el-aside {
      position: relative;
      overflow: initial;
      transition: width 0.2s;
      box-shadow: -10px 10px 20px 0px #000000;
      .isCollapseBtn {
        width: 30px;
        height: 30px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 4px 4px 5px -1px #00000044;
        border-left: none;
        position: absolute;
        z-index: 1;
        top: 10px;
        right: -30px;
        cursor: pointer;
        i {
          line-height: 30px;
          transition: all 0.3s;
          font-size: 30px;
          transform: rotateY(360deg);
        }
      }
      .isCollapseBtn.isCollapse {
        i {
          transform: rotateY(180deg);
        }
      }
    }
    .el-main {
      padding: 10px 20px;
      .pageBox {
        height: calc(100% - 40px);
        border-radius: 10px;
        >div{
          width: 100%;
          height: 100%;
        }
        .page{
          position: relative;
          box-sizing: border-box;
          padding: 20px 10px 10px 10px;
          .bottomBtnBox{
            width: 100%;
            height: 8vh;
            position: absolute;
            bottom: 0;
            left: 0px;
            padding: 1.5vh 0;
            border-top: 1px solid #c4c4c4;
          }
        }
      }
    }
  }
}

// element-ui
.el-button.long{
  padding-left: 25px;
  padding-right: 25px;
}

.loginBox {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("../imgs/loginBg.png");
  background-size: 100% 100%;
  .login {
    width: 50vh;
    height: 55vh;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 25vh;
    right: 15vh;
    box-shadow: 0 0 20px #0000004d;
    padding: 5vh 5vh 0 5vh;
    text-align: left;
    color: #417df5;
    h2 {
      font-size: 4vh;
      line-height: 8vh;
    }
    h4{
      line-height: 4vh;
    }
    .el-input.loginInput {
      line-height: 8vh;
      .el-input__inner{
        border: none;
        box-shadow: 0 0 10px #00000026;
        color: #417df5 !important;
      }
      i{
        color: #417df5;
      }
    }
    .el-button{
      position: absolute;
      bottom: 5vh;
      left: 5vh;
      width: 40vh;
    }
  }
}