$main-bg-color: rgb(65, 125, 245); //主要
$main-font-color: #fff;
$main-border-color:rgb(143, 143, 143);;
$hover-main-bg-color: rgb(124, 168, 255);
$hover-main-font-color: #fff;

.theme {
  .el-container {
    .el-header {
      color: #fff;
      background: $main-bg-color;
      box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.5);
      .userInfoBox{
        >div{
          i{
            color: #fff;
          }
          span{
            color: #fff;
          }
        }
      }
    }
    .el-container {
      .el-aside {
        background-color: #fff;
        box-shadow: -10px 10px 20px 0px #000000;
        .isCollapseBtn{
          i{
            color: $main-bg-color;
            font-size: 23px;
          }
          background-color:#fff;
        }
      }
      .el-main {
        .pageBox{
          background-color: #fff;
        }
      }
    }
  }

  .tagView {
    .tagItem {
      border: 1px solid $main-border-color;
      span {
        color: $main-border-color;
      }
      .u-guanbi {
        color: #fff;
      }
      .u-guanbi:hover {
        background-color: $hover-main-bg-color
      }
    }
    .tagItem:hover {
      span {
        color: #fff;
      }
      border-color:$main-bg-color;
      background-color: $main-bg-color;
    }
    .tagItem.checked {
      span {
        color: #fff;
      }
      border-color: $main-bg-color;
      background-color: $main-bg-color;
    }
    .tagItem.checked.cantClose:hover {
      span {
        padding: 0 15px;
      }
      .u-guanbi {
        width: 0px;
      }
    }
    .tagItem.checked:hover {
      span {
        padding: 0 5px;
      }
      .u-guanbi {
        width: 20px;
      }
    }
  }
}

.el-button--primary{
  background-color: #417df5;
  border-color: #417df5;
}
.el-button--primary:focus, .el-button--primary:hover{
  background: #6d9bf7;
  border-color: #6d9bf7;
}

.el-button--success {
  background-color: rgb(54, 196, 102);
  border-color: rgb(54, 196, 102);
}
.el-button--success:focus, .el-button--success:hover {
  background:  rgb(128, 235, 164);
  border-color: rgb(128, 235, 164);
}

.el-button--warning {
  background-color: rgb(249, 122, 24);
  border-color: rgb(249, 122, 24);
}
.el-button--warning:focus, .el-button--warning:hover {
  background: rgb(243, 165, 106);
  border-color:rgb(243, 165, 106);
}
.el-pager li.active{
  color: #417df5;
}
.el-select-dropdown__item.selected{
  color: #417df5;
}